name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    container: devkitpro/devkitarm

    steps:
    - uses: actions/checkout@v4
    - name: make 3dsx
      run: make 3dsx
    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: Build
        path: |
          Super-Conga.3dsx
          Super-Conga.cia
